header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
}
.main-section {
  margin: 50px;
  padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
  }